/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .top-wrapper h1{
    font-size:32px;
    text-align:center;
  }
  .lesson{
    width:50%;
    margin-bottom:50px;
  }
  .heading h2{
    font-size:20px;
    text-align:center;
  }
  .lesson-wrapper .heading{
    font-size:20px;
    text-align:center;
  }
 
 
}

/* モバイル向けレイアウト */
@media all and (max-width: 670px) {
  .header-right{
    display:none;
  }
  .menu-icon{
    display:block;
  }
  .top-wrapper h1{
    font-size:24px;
    text-align:center;
  }
  .top-wrapper{
    text-align:center;
  }
  .top-wrapper p{
    font-size:14px;
    text-align:center;
  }
  .btn{
    width:100%;
    text-align:center;
  }
  .instagram{
    margin-bottom:10px;
  }
  
  .lesson{
    width:100%;
  }
  .faq-wrapper{
      font-size:14px;
    text-align:center;
  }
 
  
}
